@media only screen and (max-width:739px){
    .container .fake-nav .fake-nav-child .close{
        right: 60px;
    }
    .container{
        height:6500px
    }
    .content{
        padding: 15px;
    }
    .container .header .header-right .header-right-ul{
        display: none;
    }
    .container .small-hamburgor{
        display: block;
    }
    .container .header .header-left{
        width:80%;
    }
    .container .header .header-right{
        width: 20%;
    }
    .container .header .header-left .header-left-wrap-svg{
        margin-left: 20px;
        width: 93px;
    }
    .container .header .header-left .wrap-search{
        width: 300px;
        margin-left: 5px;
        border-radius: 5px 5px 5px 5px ;
        -webkit-border-radius: 5px 5px 5px 5px ;
        -moz-border-radius: 5px 5px 5px 5px ;
        -ms-border-radius: 5px 5px 5px 5px ;
        -o-border-radius: 5px 5px 5px 5px ;
       border: 1px solid rgb(206, 202, 202);
}
.container .header .header-left .wrap-search::after{
    display: none;
}
    .content .discount .discount-images .discount-wrap{
        display: var(--display);
      
      
    }
    .content .discount .discount-images{
        overflow-x: scroll;
    }

    .content .discount .discount-images .discount-wrap .discount-images-img{
        width:280px
    }
    .container .header .header-left .wrap-days{
        display: none;
    }
    .content .content-item-first{
        height:150px
    }
    .content .content-item-first .first-content-img{
        object-fit: contain;
    }
    .content .content-item-second{
        height: 580px;
    }
    .content .content-item-second .second-text-welcome{
 white-space: pre-line;
    height:50%;
    }
    .content .content-item-second .second-text-welcome .text-wellcome-h1{
        margin-top: 0;
    }
    .content .content-item-second .second-images-wellcome{
        height: 50%;
        overflow-x: scroll;
       
    }
    .content .content-item-second .second-images-wellcome .second-images-wrap .item-images{
width:240px;
margin-left: 20px;
margin-right: 10px;
    }
    .content .content-item-second .second-images-wellcome::-webkit-scrollbar{
height:0px;
    }
    .content .great-places #next,#prev{
display: none;
    }
    .content .great-places .places-container {
        overflow-x: scroll;
     
    }
    .content .great-places .places-container .places-wrap-slider .places-slide{
        width:100%; 
        margin-left: 10px;

    }
    .content .great-places .places-container .places-wrap-slider{
        width:640%; 
    }
    .content .discount .discount-detail .discount-detail-cover-p p:nth-last-child(1){
    display: none;
    }
    .content .travelSG .travel-slider-container{
        overflow-x: scroll;
    }

    .content .travelSG #nextSG, #prevSG{
        display: none;
    }
    .content .travelSG .travel-slider-container .travelSG-wrap{
     width:400%;
        
    }
    .content .travelSG .travel-slider-container .travelSG-wrap .travelSG-slide{
        margin-left: 10px;
    }
    .content .travelVT .travelVT-slider-container{
        overflow-x: scroll;
    }
    .content .travelHN #nextHN, #prevHN,
     .content .travelVT #nextVT, #prevVT,
     .content .travelDL #nextDL, #prevDL
    , .content .travelVIN #nextVIN, #prevVIN,
    .content .travelEXPLORE #nextEXPLORE, #prevEXPLORE,
    .content .travelUSE #nextUSE, #prevUSE
    {
        display: none;
    }
    .content .travelVT .travelVT-slider-container .travelVT-wrap{
        width:400%;
    }

    .content .travelVT .travelVT-slider-container .travelVT-wrap .travelVT-slide{
        width: 100%;
        margin-left: 10px;
    }
    .content .travelHN .travelHN-slider-container{
        overflow-x: scroll;
    }
    .content .travelHN .travelHN-slider-container .travelHN-wrap{
        width:400%;
    }
    .content .travelHN .travelHN-slider-container .travelHN-wrap .travelHN-slide{
        margin-left: 10px;
    }

    .content .travelDL .travelDL-slider-container{
        overflow-x: scroll;
    }
    .content .travelDL .travelDL-slider-container .travelDL-wrap{
        width:400%;
    }
    .content .travelDL .travelDL-slider-container .travelDL-wrap .travelDL-slide{
        margin-left: 10px;
    }
    .content .travelVIN .travelVIN-slider-container{
        overflow-x: scroll;
    }
    .content .travelVIN .travelVIN-slider-container .travelVIN-wrap{
        width:400%;
    }
    .content .travelVIN .travelVIN-slider-container .travelVIN-wrap .travelVIN-slide{
        margin-left: 10px;
    }
    .content .travelEXPLORE .travelEXPLORE-slider-container{
        overflow-x: scroll;
    }
    .content .travelEXPLORE .travelEXPLORE-slider-container .travelEXPLORE-wrap{
        width:400%;
    }
    .content .travelEXPLORE .travelEXPLORE-slider-container .travelEXPLORE-slide{
        margin-left: 10px;
    }
    .content .travelEXPLORE .travelEXPLORE-slider-container .travelEXPLORE-slide .travelEXPLORE-item-detail-h5{
        top:40%;
    }
    .content .travelUSE .travelUSE-slider-container{
        overflow-x: scroll;
    }
    .content .travelUSE .travelUSE-slider-container .travelUSE-wrap{
        width:300%;
    }
    .content .travelUSE .travelUSE-slider-container .travelUSE-slide{
        margin-left: 10px;
    }
    .content .information{
        flex-direction: column;
        height:900px;
    }
    .content .information .information-left{
        width:var(--width);
        height:60%;
    }
    .content .information .information-right{
        width:var(--width);
        height:40%;
    }
    .content .information .information-left-detail .information-left-svg{
        width:200px;
    }
    .content .information .information-left-wrap-zip{
        padding-top: 20px;
    }
    .content .information .information-left-wrap-zip .zip-cover-image{
        width: 100px;
        height:100px;
    }
    .content .information .information-left-wrap-zip .zip-cover-image .zip-cover-image-img{
        width:70px;
        height:70px;
    }
    .content .information .information-left-wrap-zip .zip-wrap-icon{
        margin-top: 0px;
        height: 130px;
    }
    .content .information .information-left-wrap-zip .zip-wrap-icon .zip-icon:nth-child(3){
        margin-right: 0px;
    }
    .content .information .information-right .information-right-img{
        object-fit: fill;
    }
    .content .contact{
     
        height:450px;
    }
    .content .contact .contact-item{
        height: 70%;
    }
    .content .contact .contact-item:nth-child(1){
        width:100%;
    }

    .content .contact .contact-item:not(:nth-child(1)){
        display: none;
    }
    .content .pay{
        flex-direction: column;
    }
    .content .pay .pay-item{
        padding-top: 20px;
    }
    .content .pay .pay-item .pay-item-wrap-text{
        text-align: justify;
    }
    .content .pay .pay-item .pay-wrap-visa{
        padding-left: 10px;
    }
    .content .pay .pay-item .pay-item-images .pay-btc{
        height:60px;object-fit: fill;
        margin-left: 0px;
        width:200px;
    }
    .content .pay .pay-item .pay-item-images .pay-dmck{
        width:140px;
        height:60px;
        object-fit: fill;
       
    }
    .footer{
        padding: 20px;
    }
}

@media only screen and (min-width:740px) and (max-width:1023px){
    .container .header .header-right .header-right-ul{
        display: none;
    }
    .container .small-hamburgor{
        display: block;
    }
    .container .header .header-left{
        width:80%;
    }
    .container .header .header-right{
        width: 20%;
    }
    .container .header .header-left .header-left-wrap-svg{
        margin-left: 0px;
    }
    .container .header .header-left .wrap-search{
        width: 200px;
    }
    .content .discount #nextDis,#prevDis{
        display: block;
    }
    .content .discount .discount-images .discount-wrap{
        display: var(--display);
    }
    .content .discount .discount-images .discount-wrap .discount-images-img{
        width:340px
    }
}
    

@media only screen and (min-width:1024px){
    .container{
        width:1240px;
        margin:0px auto;
    }
}