*,:before , :after{
    margin: 0;padding: 0;
box-sizing: border-box;
}
html{
    box-sizing: border-box;
 /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; */
 font-family: luxstay;

   color: rgb(20, 20, 20);
}
@font-face {
    font-family: luxstay;
    src:url(fonts/e3a0b22.woff2);
  }

/* [lazy=loaded] {
    -webkit-animation: fadeIn .5s ease-in-out;
    animation: fadeIn .5s ease-in-out;
} */
:root{
    --color:#555555;
    --width:100%;
    --height:100%;
    --display:flex;
    --textColor:orangered;
}
h1{
    font-size: 24px;
}
::selection{
background-color:rgb(0, 255, 191);
}
.container{
    width:var(--width);
    height:5900px;
    position: relative;
    overflow: hidden;
}
.container .input-overlay{
    width:var(--width);
    height:var(--height);
    position: fixed;
    background: rgba(235, 235, 235, 0.2);
    left:0;
    right:0;
    top:0;
    z-index: 1;
    display: none;
    cursor: pointer;
}
.header{
    display: var(--display);
    width:var(--width);
    height:80px;
    border-bottom: 1px solid rgb(248, 246, 246);
    z-index: 50;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background: #fff;
 
}
.container .fake-nav{
    display: none;
    width:100vw;
    height:100vh;
    background: rgba(0 ,0,0,0.3);
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
    right:0;

}
.container .fake-nav .fake-nav-child{
    width:400px;
    height:370px;
    background: #fff;
z-index: 200;
position: absolute;

}
.container .fake-nav .fake-nav-child .fake-nav-ul .fake-nav-li{
    line-height: 40px;
    font-size: 32px;
    padding-left: 10px;
    padding-top: 6px;
}
.container .fake-nav .fake-nav-child .fake-nav-ul .fake-nav-li:nth-child(3){
padding-bottom: 20px;
}
.container .fake-nav .fake-nav-child .fake-nav-ul .fake-nav-li:nth-child(4){
    border: 1px solid rgb(175, 174, 174);
    width:130px;
  
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    display: var(--display);
  
    padding-bottom: 6px;
justify-content: space-evenly;
}
.container .fake-nav .fake-nav-child .fake-nav-ul .fake-nav-li:nth-child(4) .fake-nav-li-span{
 margin-top: 5px;
}
.container .fake-nav .fake-nav-child .fake-nav-ul .fake-nav-li:nth-child(4) .fas.fa-caret-down{
    margin-left: 0px;
    font-size: 30px;
}
.container .fake-nav .fake-nav-child .fake-nav-ul .fake-nav-li:nth-child(4) .fake-nav-li-img{
    width: 30px;
    height:30px;
}
.container .fake-nav .fake-nav-child .fake-nav-ul .fake-nav-li:nth-child(4) .fake-nav-section{
    position: absolute;
    width:400px;
    height:470px;
    
    background: #fff;
    top:90px;
    padding-left: 10px;
    list-style-type: none;
    padding-top: 10px;
    left: 0px;
    display: none;
}
.container .fake-nav .fake-nav-child .fake-nav-ul .fake-nav-li:nth-child(4) .fake-nav-section .fake-nav-section-li{
    line-height: 60px;
    font-size: 25px;
   
    margin: 5px;
}
.container .fake-nav .fake-nav-child .fake-nav-ul .fake-nav-li:nth-child(1)::after{
    content: "";
    position: absolute;
    background: var(--textColor);
    width:6px;
    height:6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container .fake-nav .fake-nav-child .fake-nav-ul .fake-nav-li:nth-child(4) .fake-nav-section .fake-nav-section-li-img{
    width:40px;
    height:40px;
    object-fit: cover;
    vertical-align: middle;
}
.container .fake-nav .fake-nav-child .close{
    position: absolute;
    right:20px;
    font-size: 50px;
    cursor:pointer;

}
.container .small-hamburgor{
    width:60px;
    height:40px;
   
    text-align: center;
    display: none;
    position: absolute;
    left:30%;
    top:20px;
    font-size: 28px;
}
.sticky{
    position: fixed;
    top:0;
    z-index: 60;
    background: #fff;
    right:0;
    left:0;
}
.container .header .header-left

{
width:60%;
height:var(--height);
display: var(--display);

}
.container .header .header-right{
    width:40%;
    height:var(--height);
display: var(--display);
position: relative;
}
.container .header .header-left .header-left-wrap-svg{
   margin-top: 4px ;
   margin-left: 10px ;
   width:70px;
   height:70px;
   
   text-align: center;
   justify-content: center;
   background: rgb(245, 245, 245);
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   line-height: 106px ;
}
.container .header .header-left .header-left-wrap-svg .header-left-svg{
width:50px;
height:50px;
}
.container .header .header-left .wrap-search{
    width:298px;
    height:45px;
    border-top:1px solid rgb(241, 237, 237) ;
    border-left:1px solid rgb(241, 237, 237) ;
    border-bottom:1px solid rgb(241, 237, 237) ;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 16px ;
    border-radius:5px 0px 0px 5px  ;
    -webkit-border-radius:5px 0px 0px 5px  ;
    -moz-border-radius:5px 0px 0px 5px  ;
    -ms-border-radius:5px 0px 0px 5px  ;
    -o-border-radius:5px 0px 0px 5px  ;
    margin-top: 17px;
    position: relative;
   
}
.container .header .header-left .wrap-search::after{
    position: absolute;
    content:"";
    width:1px;
    height:35px;
    background:  rgb(241, 237, 237) ;
    top:5px;
}

.container .header .header-left .wrap-search i.fas.fa-search{
font-size: 17px;
margin-right: 15px;
line-height: 45px;
color: rgb(134, 131, 131);

}
.container .header .header-left .wrap-search .search{
outline: none;
border: none;
width:80%;
}
.container .header .header-left .wrap-days{
    width:260px;
    height:45px;
    display: flex;
    border-top:1px solid rgb(241, 237, 237) ;
    border-right:1px solid rgb(241, 237, 237) ;
    border-bottom:1px solid rgb(241, 237, 237) ;
    margin-top: 17px;
    position: relative;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
    
}
.container .header .header-left .wrap-days::after{
content: "";
width:.7px;
height:35px;
background:rgb(241, 237, 237) ;
position: absolute;
left:90px ;
top:5px;
}

.container .header .header-left .wrap-days .day{
width: 35%;
font-weight: 500;
text-align: center;
padding-top: 15px;
font-size: 14px;
color: #222;
}
.container .header .header-left .wrap-days .member{
    width: 35%;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    padding-top: 15px;
    padding-left: 6px;
    font-size: 14px;
    color: #222;
}

.container .header .header-left .wrap-days .wrap-days-btn{
    width:55px;
    height:35px;
    margin-left: 16px;
    margin-top: 5px;
    background:var(--color);
    color: white ;
    font-size: .9rem;
    cursor: pointer;
    border-radius: 6px ;
    -webkit-border-radius: 6px ;
    -moz-border-radius: 6px ;
    -ms-border-radius: 6px ;
    -o-border-radius: 6px ;
    outline: none;
    border: none;
}
/* .container .header .header-right{
 
} */
.container .header .header-right .header-right-ul{
    list-style-type: none;
   
    display: var(--display);
  color:#222;
    width:var(--width);
    height:var(--height);
    justify-content: flex-end;
  
}

.container .header .header-right .header-right-li{
    padding: 10px;
   line-height: 60px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.container .header .header-right .header-right-li:not(:nth-child(4)):hover{
    color:var(--textColor);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.container .header .header-right .header-right-li:nth-child(1){
    position: relative;
}
.container .header .header-right .header-right-li:nth-child(1)::after{
      content: "";
      background: #FB9236;
      position: absolute;
      width:4.5px;
      height:4.5px;
      border-radius:50% ;
      -webkit-border-radius:50% ;
      -moz-border-radius:50% ;
      -ms-border-radius:50% ;
      -o-border-radius:50% ;
      top:30px;
}
.container .header .header-right .header-right-li img{
  width:20px;
  height:20px;
    
}
.container .header .header-right .header-right-li:nth-child(4){
    background: rgb(243, 243, 243);
    height:30px;
    margin-top: 27px ;
    padding-left: 7px;
    padding-top: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: var(--display);
    cursor: pointer;
    width:90px;
    margin-right: 50px;
  
}
.container .header .header-right .header-right-li:nth-child(4) .section{
 position: absolute;
 width:470px;
 height:154px;
 box-shadow: 0 0 4px rgb(160, 158, 158) ;
 display: grid;
 grid-template-columns: auto auto ;
 right:50px;
 top:110px;
 z-index: 4;
 line-height: 50px;
 opacity: 0;
 visibility: hidden;
 background: white;
 transition:top .3s,opacity .3s ;
 -webkit-transition:top .3s,opacity .3s ;
 -moz-transition:top .3s,opacity .3s ;
 -ms-transition:top .3s,opacity .3s ;
 -o-transition:top .3s,opacity .3s ;
}
.animation-tooltip{
    
  top:90px !important;
    opacity: 1 !important;
    visibility: visible !important;
    background: #fff;
   
}

/* @keyframes toTop {
    
0%{
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);

    
}
100%{
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}


} */

.container .header .header-right .header-right-li:nth-child(4) .section::after{
    content: "";
    width:20px;
    height:20px;
    background:white;
    position: absolute;
    right:40px;
    bottom:140px;
    transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    -o-transform: rotate(43deg);
    z-index: -1;
    box-shadow: 0 0 4px rgb(214, 214, 214) ;
}
.container .header .header-right .header-right-li:nth-child(4) .section::before{
    width:30px;
    height:30px;
    content:"";
    position: absolute;
    right:35px;
    bottom:124px;
    background:white;
}
.container .header .header-right .header-right-li:nth-child(4) .section-li{
    margin-left: 20px;
    
   
}
.container .header .header-right .header-right-li:nth-child(4) .section-li:hover{
 color:var( --textColor);
 transition:all 0.3s ;
 -webkit-transition:all 0.3s ;
 -moz-transition:all 0.3s ;
 -ms-transition:all 0.3s ;
 -o-transition:all 0.3s ;
}

.container .header .header-right .header-right-li:nth-child(4) .section-li-img{
    width:20px;
    height:20px;
    vertical-align: middle;
    object-fit: cover;
   
   
}
.container .header .header-right .header-right-li .header-right-li-span{
    margin-left: 5px;
    margin-right: 5px ;
    font-size: 16px;
    line-height: 100%;
    
}
.content{
    width:var(--width);
    height:95%;
    padding:44px ;
  margin-top: 5rem;
   
}

.content .content-item-first{
    height:300px;
  
    text-align: center;
}
.content .content-item-first .first-content-img{ 
    width:var(--width);
     height: var(--height);
      object-fit: fill;
       border-radius: 15px;
        -webkit-border-radius: 15px;
         -moz-border-radius: 15px;
          -ms-border-radius: 15px;
           -o-border-radius: 15px;
}

.content .content-item-second{
    height:416px;
   
   white-space: nowrap;
}
.content .content-item-second .second-text-welcome{
    height:40%;
}
.content .content-item-second .second-text-welcome .text-wellcome-h1{
margin-top: 30px;


}
.content .content-item-second .second-text-welcome p{
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
}
.content .content-item-second .second-text-welcome span{
    font-weight: 500;
    font-size: 14px;
}
.content .content-item-second .second-text-welcome a{
    color:#222;
    font-weight: 500;
    font-size: 14px;
}

.content .content-item-second .second-text-welcome .wellcome-sign-in{
    padding-right: 5px;
}
.content .content-item-second .second-text-welcome .wellcome-sign-up{
    padding: 5px;
}
.content .content-item-second .second-images-wellcome{
height:60%;
display:var(--display);
width:var(--width);


}
.content .content-item-second .second-images-wellcome .second-images-wrap{
    display:var(--display);
}
.content .content-item-second .second-images-wellcome .second-images-wrap .item-images{
    height:190px;
   
    width:200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(207, 204, 204);
}
.content .content-item-second .second-images-wellcome .item-images:nth-child(2){
    margin-left: 15px;
}
.content .content-item-second .second-images-wellcome .item-images:nth-child(3){
    margin-left: 15px;
}
.content .content-item-second .second-images-wellcome .item-images:nth-child(4){
    margin-left: 15px;
}
.content .content-item-second .second-images-wellcome .item-images .small-image-wellcome{
    width:100%;
    height:100px;
    object-fit: cover;
    
}
.content .content-item-second .second-images-wellcome .item-images .item-images-h3{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.content .content-item-second .second-images-wellcome .item-images .item-images-h3:hover{
color:var(--textColor);
cursor: pointer;
}
.content .content-item-second .second-images-wellcome .item-images .item-images-p{
    color:rgb(117, 116, 116);
    font-weight: 600;
    font-size: 13px;
}
.content .great-places{
    width:var(--width);
    height:430px;
 
   

}
.content .great-places .great-places-text{
    margin-top: 10px;
    margin-bottom: 20px;
}
.content .great-places .great-places-text .places-text-p{
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
}


.content .great-places  #next,#prev{
  width:50px ;
  height:50px ;
  background: rgba(235, 235, 235, 0.9) ;
  color:#000 ;
  font-size: 16px ;
  position: absolute ;
  cursor: pointer ;
  top:40%;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  outline: none;
  border:none;
  z-index: 4 ;
  user-select: none;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 6px #333;
  transition: all 0.4s  ;
  -webkit-transition: all 0.4s  ;
  -moz-transition: all 0.4s  ;
  -ms-transition: all 0.4s  ;
  -o-transition: all 0.4s  ;
}
.content .great-places  #next:hover,#prev:hover{
    color:var(--textColor);
    box-shadow:  0 0 3px var(--textColor);
    

}
.content .great-places  #next{
right:0px;

}
.content .great-places #prev{
left:0px;
}
.content .great-places .places-container {
   width: var(--width);
    position: relative;
    
 overflow: hidden;
  
  
  align-items: baseline;
 
   
  }
  
.content .great-places .places-container .places-wrap-slider .places-slide{
    width:240px ;
    height:300px ;
    position: relative;
    
 
}
.content .great-places .places-container .places-wrap-slider{

width:180%;
display: var(--display);
justify-content: space-evenly;

}

.content .great-places .places-container .places-wrap-slider .places-images-img{
     width:var(--width);
     height:var(--height);
     object-fit: cover;
     border-radius:4px;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     -ms-border-radius:4px;
     -o-border-radius:4px;
}

.content .great-places .places-wrap-slider .places-images-item-detail{
    position: absolute;
    bottom: 20px;
    left:10%;
    color:white;
}

.content .discount{
    width:var(--width);
    height:300px;
    position: relative;
   
}
.content .discount .discount-detail{
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
}

.content .discount .discount-detail .discount-detail-cover-p{
display: var(--display);
justify-content: space-between;
font-size: 14px;
font-weight: 500;
margin-top: 10px;
}
.content .discount .discount-detail .discount-detail-cover-p p:nth-last-child(1){
    color:var(--textColor);
}

.content .discount .discount-images{
    display: var(--display);
   
    overflow: hidden;
   
}
.content .discount .discount-images .discount-wrap{
    justify-content: center;
    align-items: center;
}
.content .discount .discount-images .discount-wrap .discount-images-img{
    width:380px;
    height:181px;
    object-fit: contain;
 
}



.content .discount #nextDis,#prevDis{
    display: none;
    width:50px ;
    height:50px ;
    background: rgba(235, 235, 235, 0.9) ;
    color:#000 ;
    font-size: 16px ;
    position: absolute ;
    cursor: pointer ;
    top:40%;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    outline: none;
    border:none;
    z-index: 4 ;
    user-select: none;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 6px #333;
    transition: all 0.4s  ;
    -webkit-transition: all 0.4s  ;
    -moz-transition: all 0.4s  ;
    -ms-transition: all 0.4s  ;
    -o-transition: all 0.4s  ;
  }
  .content .discount #nextDis:hover,#prevDis:hover{
      color:var(--textColor);
      box-shadow:  0 0 3px var(--textColor);
      
  
  }
  .content .discount #nextDis{
  right:0px;
  
  }
  .content .discount #prevDis{
  left:0px;
  }
.content .travelSG{
  
    height:410px;
   
    position: relative;
    width:var(-width);
  
}
.content .travelSG .travel-slider-container{
    width:var(--width);
 overflow: hidden;
 

    
}
.content .travelSG .travelSG-detail{
margin-bottom: 20px;
}
.content .travelSG .travel-slider-container .travelSG-wrap{
    display:var(--display);
    justify-content: space-evenly;
    width: 198%;
}
.content .travelSG .travelSG-detail p{
    font-size: 14.7px;
    font-weight: 500;
    margin-top: 10px;
}
.content .travelSG .travel-slider-container .travelSG-wrap .travelSG-slide{
    width:310px;
    height:300px;
    position: relative;
  
}
.content .travelSG .travel-slider-container .travelSG-wrap .travelSG-slide .travel-item-detail{
margin-top: 10px;
}
.content .travelSG .travel-slider-container .travelSG-wrap .travelSG-slide .travel-item-detail .travel-item-detail-h5{
    text-transform: uppercase;
    font-weight: 200;
    color:gray;
    padding-bottom: 10px;
    
}
.content .travelSG .travel-slider-container .travelSG-wrap .travelSG-slide .travel-item-detail .travel-item-detail-live{
    font-size: 15px;
    font-weight: 500;
    color: gray;

}
.content .travelSG .travel-slider-container .travelSG-wrap .travelSG-slide .travel-item-detail .travel-item-detail-live:hover{
    color:var(--textColor);
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
 .content .travelSG .travel-slider-container .travelSG-wrap .travelSG-slide .travelSG-img{
     width:var(--width);
     height: 190px;
     object-fit: cover;
     border-radius:4px;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     -ms-border-radius:4px;
     -o-border-radius:4px;
 }
 .content .travelSG #nextSG,#prevSG{
    width:50px ;
    height:50px ;
    background: rgba(235, 235, 235, 0.9) ;
    color:#000 ;
    font-size: 16px ;
    position: absolute ;
    cursor: pointer ;
    top:40%;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    outline: none;
    border:none;
    z-index: 4 ;
    user-select: none;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 6px #333;
    transition: all 0.4s  ;
    -webkit-transition: all 0.4s  ;
    -moz-transition: all 0.4s  ;
    -ms-transition: all 0.4s  ;
    -o-transition: all 0.4s  ;
  }
  .content .travelSG #nextSG:hover,#prevSG:hover{
      color:var(--textColor);
      box-shadow:  0 0 3px var(--textColor);
      
  
  }
  .content .travelSG #nextSG{
  right:0px;
  
  }
  .content .travelSG #prevSG{
  left:0px;
  }


  .content .travelVT{
      height:410px;
    width:var(--width);
    
    
      position: relative;
  }


  .content .travelVT .travelVT-slider-container{
     
      width:var(--width);
   overflow: hidden;
    

  }
  .content .travelVT .travelVT-slider-container .travelVT-wrap{
    display:var(--display);
    width:170%;
    justify-content: space-evenly;
  

}
.content .travelVT .travelVT-detail p{
    margin-top: 10px;
    font-weight: 500;
    font-size: 14.7px;
}

  .content .travelVT .travelVT-slider-container .travelVT-wrap .travelVT-slide .travelVT-item-detail{
     margin-top: 10px;
     
  }
  
  .content .travelVT .travelVT-slider-container .travelVT-wrap .travelVT-slide .travelVT-item-detail .travelVT-item-detail-h5{
      color:gray;
      text-transform: uppercase;
      font-weight: 100;
      padding-bottom: 10px;
  }
  .content .travelVT .travelVT-slider-container .travelVT-wrap .travelVT-slide .travelVT-item-detail .travelVT-item-detail-live{
      color:gray;
font-size: 15px;
font-weight: 500;
}
  .content .travelVT .travelVT-slider-container .travelVT-wrap .travelVT-slide .travelVT-item-detail .travelVT-item-detail-live:hover{
      color:var(--textColor);
      cursor: pointer;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
}
  .content .travelVT .travelVT-slider-container .travelVT-wrap .travelVT-slide{
      width: 310px;
      height:300px;
      position: relative;

  }

  .content .travelVT .travelVT-slider-container .travelVT-wrap .travelVT-slide .travelVT-img{
    width:var(--width);
    object-fit: cover;
    height:190px;
    position: relative;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.content .travelVT .travelVT-detail{
    margin-top: 10px;
    margin-bottom: 20px ;
}
.content .travelVT #nextVT,#prevVT{
    width:50px ;
    height:50px ;
    background: rgba(235, 235, 235, 0.9) ;
    color:#000 ;
    font-size: 16px ;
    position: absolute ;
    cursor: pointer ;
    top:40%;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    outline: none;
    border:none;
    z-index: 4 ;
    user-select: none;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 6px #333;
    transition: all 0.4s  ;
    -webkit-transition: all 0.4s  ;
    -moz-transition: all 0.4s  ;
    -ms-transition: all 0.4s  ;
    -o-transition: all 0.4s  ;
  }
  .content .travelVT #nextVT:hover,#prevVT:hover{
      color:var(--textColor);
      box-shadow:  0 0 3px var(--textColor);
      
  
  }
  .content .travelVT #nextVT{
  right:0px;
  
  }
  .content .travelVT #prevVT{
  left:0px;
  }
/*   */




.content .travelHN{
    height:410px;
  width:var(--width);
  
  
    position: relative;
}


.content .travelHN .travelHN-slider-container{
  
    width:var(--width);
 overflow: hidden;
  

}
.content .travelHN .travelHN-slider-container .travelHN-wrap{
  display:var(--display);
  width:170%;
  justify-content: space-evenly;


}

.content .travelHN .travelHN-slider-container .travelHN-wrap .travelHN-slide .travelHN-item-detail{
   margin-top: 10px;
   
}
.content .travelHN .travelHN-slider-container .travelHN-wrap .travelHN-slide .travelHN-item-detail .travelHN-item-detail-h5{
    color:gray;
    text-transform: uppercase;
    font-weight: 100;
    padding-bottom: 10px;
}
.content .travelHN .travelHN-slider-container .travelHN-wrap .travelHN-slide .travelHN-item-detail .travelHN-item-detail-live{
    color:gray;
    font-size: 15px;
    font-weight: 500;
}
.content .travelHN .travelHN-slider-container .travelHN-wrap .travelHN-slide .travelHN-item-detail .travelHN-item-detail-live:hover{
    color:var(--textColor);
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.content .travelHN .travelHN-slider-container .travelHN-wrap .travelHN-slide{
    width: 310px;
    height:300px;
    position: relative;

}

.content .travelHN .travelHN-slider-container .travelHN-wrap .travelHN-slide .travelHN-img{
  width:var(--width);
  object-fit: cover;
  height:190px;
  position: relative;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
}
.content .travelHN .travelHN-detail{
  margin-top: 10px;
  margin-bottom: 20px ;
}
.content .travelHN .travelHN-detail p{
    margin-top: 10px;
    font-size: 14.7px;
    font-weight: 500;
}
.content .travelHN #nextHN,#prevHN{
  width:50px ;
  height:50px ;
  background: rgba(235, 235, 235, 0.9) ;
  color:#000 ;
  font-size: 16px ;
  position: absolute ;
  cursor: pointer ;
  top:40%;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  outline: none;
  border:none;
  z-index: 4 ;
  user-select: none;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 6px #333;
  transition: all 0.4s  ;
  -webkit-transition: all 0.4s  ;
  -moz-transition: all 0.4s  ;
  -ms-transition: all 0.4s  ;
  -o-transition: all 0.4s  ;
}
.content .travelHN #nextHN:hover,#prevHN:hover{
    color:var(--textColor);
    box-shadow:  0 0 3px var(--textColor);
    

}
.content .travelHN #nextHN{
right:0px;

}
.content .travelHN #prevHN{
left:0px;
}

/*  da lat*/



.content .travelDL{
  
    height:410px;
   
    position: relative;
    width:var(-width);
  
}
.content .travelDL .travelDL-slider-container{
    width:var(--width);
 overflow: hidden;

    
}
.content .travelDL .travelDL-detail{
margin-bottom: 20px;
}
.content .travelDL .travelDL-detail p{
margin-top: 10px;
font-size: 14.7px;
font-weight: 500;
}
.content .travelDL .travelDL-slider-container .travelDL-wrap{
    display:var(--display);
    justify-content: space-evenly;
    width: 170%;
}
.content .travelDL .travelDL-slider-container .travelDL-wrap .travelDL-slide{
    width:310px;
    height:300px;
    position: relative;
  
}
.content .travelDL .travelDL-slider-container .travelDL-wrap .travelDL-slide .travelDL-item-detail{
margin-top: 10px;
}
.content .travelDL .travelDL-slider-container .travelDL-wrap .travelDL-slide .travelDL-item-detail .travelDL-item-detail-h5{
    text-transform: uppercase;
    color:gray;
    font-weight: 100;
    padding-bottom: 10px;
}
.content .travelDL .travelDL-slider-container .travelDL-wrap .travelDL-slide .travelDL-item-detail .travelDL-item-detail-live{
    color:gray;
    font-size: 14px;
    font-weight: 500;
}
.content .travelDL .travelDL-slider-container .travelDL-wrap .travelDL-slide .travelDL-item-detail .travelDL-item-detail-live:hover{
    color:var(--textColor);
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
 .content .travelDL .travelDL-slider-container .travelDL-wrap .travelDL-slide .travelDL-img{
     width:var(--width);
     height: 190px;
     object-fit: cover;
     border-radius:4px;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     -ms-border-radius:4px;
     -o-border-radius:4px;
 }
 .content .travelDL #nextDL,#prevDL{
    width:50px ;
    height:50px ;
    background: rgba(235, 235, 235, 0.9) ;
    color:#000 ;
    font-size: 16px ;
    position: absolute ;
    cursor: pointer ;
    top:40%;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    outline: none;
    border:none;
    z-index: 4 ;
    user-select: none;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 6px #333;
    transition: all 0.4s  ;
    -webkit-transition: all 0.4s  ;
    -moz-transition: all 0.4s  ;
    -ms-transition: all 0.4s  ;
    -o-transition: all 0.4s  ;
  }
  .content .travelDL #nextDL:hover,#prevDL:hover{
      color:var(--textColor);
      box-shadow:  0 0 3px var(--textColor);
      
  
  }
  .content .travelDL #nextDL{
  right:0px;
  
  }
  .content .travelDL #prevDL{
  left:0px;
  }
/* travel da lat */



.content .travelVIN{
    height:410px;
  width:var(--width);
  
  
    position: relative;
}


.content .travelVIN .travelVIN-slider-container{
  
    width:var(--width);
 overflow: hidden;
  

}
.content .travelVIN .travelVIN-detail p{
    margin-top: 10px;
    font-size: 14.7px;
    font-weight: 500;
}
.content .travelVIN .travelVIN-slider-container .travelVIN-wrap{
  display:var(--display);
  width:170%;
  justify-content: space-evenly;


}

.content .travelVIN .travelVIN-slider-container .travelVIN-wrap .travelVIN-slide .travelVIN-item-detail{
    margin-top: 10px;
   
}
.content .travelVIN .travelVIN-slider-container .travelVIN-wrap .travelVIN-slide .travelVIN-item-detail .travelVIN-item-detail-h5{
    color:gray;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 10px;
}
.content .travelVIN .travelVIN-slider-container .travelVIN-wrap .travelVIN-slide .travelVIN-item-detail .travelVIN-item-detail-live{
    color:gray;
    font-size: 14px;
    font-weight: 500;
}
.content .travelVIN .travelVIN-slider-container .travelVIN-wrap .travelVIN-slide .travelVIN-item-detail .travelVIN-item-detail-live:hover{
    color:var(--textColor);
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.content .travelVIN .travelVIN-slider-container .travelVIN-wrap .travelVIN-slide{
    width: 310px;
    height:300px;
    position: relative;

}

.content .travelVIN .travelVIN-slider-container .travelVIN-wrap .travelVIN-slide .travelVIN-img{
  width:var(--width);
  object-fit: cover;
  height:190px;
  position: relative;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
}
.content .travelVIN .travelVIN-detail{
  margin-top: 10px;
  margin-bottom: 20px ;
}
.content .travelVIN #nextVIN,#prevVIN{
  width:50px ;
  height:50px ;
  background: rgba(235, 235, 235, 0.9) ;
  color:#000 ;
  font-size: 16px ;
  position: absolute ;
  cursor: pointer ;
  top:40%;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  outline: none;
  border:none;
  z-index: 4 ;
  user-select: none;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 6px #333;
  transition: all 0.4s  ;
  -webkit-transition: all 0.4s  ;
  -moz-transition: all 0.4s  ;
  -ms-transition: all 0.4s  ;
  -o-transition: all 0.4s  ;
}
.content .travelVIN #nextVIN:hover,#prevVIN:hover{
    color:var(--textColor);
    box-shadow:  0 0 3px var(--textColor);
    

}
.content .travelVIN #nextVIN{
right:0px;

}
.content .travelVIN #prevVIN{
left:0px;
}


/*  travel vinhome*/











/*  Travelexplore*/





.content .travelEXPLORE{
    height:410px;
  width:var(--width);
  
  
    position: relative;
}
.content .travelEXPLORE .travelEXPLORE-detail p{
    margin-top: 10px;
    font-size: 14.7px;
    font-weight: 500;
}

.content .travelEXPLORE .travelEXPLORE-slider-container{
  
    width:var(--width);
 overflow: hidden;
  

}
.content .travelEXPLORE .travelEXPLORE-slider-container .travelEXPLORE-wrap{
  display:var(--display);
  width:227%;
  justify-content: space-evenly;


}


.content .travelEXPLORE .travelEXPLORE-slider-container .travelEXPLORE-slide .travelEXPLORE-item-detail-h5{
    color:white;
 text-transform: inherit;
    position: absolute;
    top:60%;
    left:5%;
    font-weight:500;
   font-size: 17px;
}

.content .travelEXPLORE .travelEXPLORE-slider-container .travelEXPLORE-slide{
    width: 310px;
    height:300px;
    position: relative;
    text-align: center;
   

}

.content .travelEXPLORE .travelEXPLORE-slider-container .travelEXPLORE-slide .travelEXPLORE-img{
  width:var(--width);
  object-fit: cover;
  height:260px;
  position: relative;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
}
.content .travelEXPLORE .travelEXPLORE-detail{
  margin-top: 10px;
  margin-bottom: 20px ;
  
}
.content .travelEXPLORE #nextEXPLORE,#prevEXPLORE{
  width:50px ;
  height:50px ;
  background: rgba(235, 235, 235, 0.9) ;
  color:#000 ;
  font-size: 16px ;
  position: absolute ;
  cursor: pointer ;
  top:40%;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  outline: none;
  border:none;
  z-index: 4 ;
  user-select: none;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 6px #333;
  transition: all 0.4s  ;
  -webkit-transition: all 0.4s  ;
  -moz-transition: all 0.4s  ;
  -ms-transition: all 0.4s  ;
  -o-transition: all 0.4s  ;
}
.content .travelEXPLORE #nextEXPLORE:hover,#prevEXPLORE:hover{
    color:var(--textColor);
    box-shadow:  0 0 3px var(--textColor);
    

}
.content .travelEXPLORE #nextEXPLORE{
right:0px;

}
.content .travelEXPLORE #prevEXPLORE{
left:0px;
}

/*  */





.content .travelUSE{
    height:410px;
  width:var(--width);
  
  
    position: relative;
}
.content .travelUSE .travelUSE-detail p{
    margin-top: 10px;
    font-size: 14.7px;
    font-weight: 500;
}

.content .travelUSE .travelUSE-slider-container{
  
    width:var(--width);
 overflow: hidden;
  

}
.content .travelUSE .travelUSE-slider-container .travelUSE-wrap{
  display:var(--display);
  width:182%;
  justify-content: space-evenly;


}


.content .travelUSE .travelUSE-slider-container .travelUSE-slide{
    width: 400px;
    height:300px;
    position: relative;

}

.content .travelUSE .travelUSE-slider-container .travelUSE-slide .travelUSE-img{
  width:var(--width);
  object-fit: contain;
  height:var(--height);
  position: relative;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
}
.content .travelUSE .travelUSE-detail{
  margin-top: 10px;
  margin-bottom: 20px ;
}
.content .travelUSE #nextUSE,#prevUSE{
  width:50px ;
  height:50px ;
  background: rgba(235, 235, 235, 0.9) ;
  color:#000 ;
  font-size: 16px ;
  position: absolute ;
  cursor: pointer ;
  top:50%;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  outline: none;
  border:none;
  z-index: 4 ;
  user-select: none;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 6px #333;
  transition: all 0.4s  ;
  -webkit-transition: all 0.4s  ;
  -moz-transition: all 0.4s  ;
  -ms-transition: all 0.4s  ;
  -o-transition: all 0.4s  ;
}
.content .travelUSE #nextUSE:hover,#prevUSE:hover{
    color:var(--textColor);
    box-shadow:  0 0 3px var(--textColor);
    

}
.content .travelUSE #nextUSE{
right:0px;

}
.content .travelUSE #prevUSE{
left:0px;
}



.content .information{
    height:500px;
   
    display: var(--display);
}
.content .information .information-left .information-left-detail p{
    font-size: 14.5px;
    font-weight: 500;
   
}
.content .information .information-left-detail .information-left-svg{
    width: 400px;
}
.content .information .information-left-detail .information-left-h1{
    font-size: 34px;
    margin-top: 10px;
    margin-bottom: 20px ;
}
.content .information .information-left-wrap-zip{

padding-top: 50px;
display: var(--display);

}
.content .information .information-left-wrap-zip .zip-cover-image{
    width:200px;
    height:200px;
    border: 1px solid rgb(228, 225, 225);
   text-align: center;
  
   
}
.content .information .information-left-wrap-zip .zip-cover-image .zip-cover-image-img{
    width:170px;
    height:170px;
    margin-top: 15px;
 
}
.content .information .information-left-wrap-zip .zip-wrap-icon{
   
  width: 61%;
    height:100px;
    display: var(--display);
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 50px;
}
.content .information .information-left-wrap-zip .zip-wrap-icon .zip-icon{
    width:124px;
    height:40px;
   
    cursor: pointer;
}
.content .information .information-left-wrap-zip .zip-wrap-icon .zip-icon:nth-child(2){
   margin-left: 10px;
}
.content .information .information-left-wrap-zip .zip-wrap-icon .zip-icon:nth-child(3){
margin-right: 135px;
}
.content .information .information-left,.information-right{
    width:50%;
    height:var(--height);
  
}
.content .information .information-right .information-right-img{
    width:var(--width);
    height:var(--height);
}
.content .contact{
height:560px;

display:var(--display);
}
.content .contact .contact-item{

width:20%;
height:var(--height);
margin-top: 60px;
}
.content .contact .contact-item .contact-item-widget-h3{
  font-size: 15px;
  margin-bottom: 20px;
}
.content .contact .contact-item .contact-widget-wrap-title{
    height:300px;
   
}
.content .contact .contact-item .contact-widget-wrap-title .contact-widget-text{
    
  margin-top: 20px;
}
.content .contact .contact-item .contact-widget-wrap-title .contact-widget-text .widget-text-container{
  display: var(--display);
}
.content .contact .contact-item .contact-widget-wrap-title .contact-widget-text .widget-text-container + .widget-text-container{
    margin-top: 20px;
}
.content .contact .contact-item .contact-widget-wrap-title .contact-widget-text .widget-text-container .widget-text-wrap-item-content{
  display: var(--display);
  flex-direction: column;
  margin-left: 10px;
}
.content .contact .contact-item .contact-widget-wrap-title .contact-widget-text .widget-text-container .widget-text-wrap-item-content p{
    font-weight: bold;
}
.content .contact .contact-item .contact-widget-wrap-title .contact-widget-text .widget-text-container .widget-text-wrap-item-content a{
    color:#000;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.content .contact .contact-item .contact-widget-wrap-title .contact-widget-text .widget-text-container .widget-text-wrap-item-content a:hover{
    color:var(--textColor);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.content .contact .contact-item .contact-item-widget-ul{
    list-style-type: none;
}
.content .contact .contact-item .contact-item-widget-ul .contact-item-widget-li{
    line-height: 35px;
    font-size: 14px;
    font-weight: 500;
}
.content .contact .contact-item .contact-item-widget-ul .contact-item-widget-li a{
    color:#000;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.content .contact .contact-item .contact-item-widget-ul .contact-item-widget-li a:hover{
    color:var(--textColor);

}
.content .contact .contact-item .widget-wrap-zip{
    width: 70px;
    height:70px;
    border: 1px solid rgb(204, 203, 203);
    text-align: center;
    margin-top: 5px;
 
}
.content .contact .contact-item .widget-wrap-zip .widget-wrap-zip-img{
    width:50px;
    height:50px;
    margin-top: 10px;
    
}
.content .contact .contact-item .widget-container-apps{
display: var(--display);
}
.content .contact .contact-item .widget-container-apps .widget-wrap-images{
    display: var(--display);
    flex-direction: column;
    margin-left: 30px;
}
.content .contact .contact-item .widget-container-apps .widget-wrap-images img{
width:90px;
height:40px;
}
.content .pay{
    height:200px;
  
    display: var(--display);
   justify-content: flex-end;
}

.content .pay .pay-item:nth-child(1){
    flex:2;
}
.content .pay .pay-item:nth-child(2){
    flex:1;
}
.content .pay .pay-item:nth-child(3){
    flex:1;
    
}
.content .pay .pay-item .pay-item-wrap-text{
    margin-bottom: 20px;
    text-align: center;
}
.content .pay .pay-follow .pay-item-wrap-text:nth-child(1){
    text-align: justify ;
}
.content .pay .pay-item .pay-item-wrap-text .pay-item-wrap-text-h3{
    font-size: 14px;
    color:#333;
}
.content .pay .pay-item .pay-item-images{
    display:var(--display);
}
.content .pay .pay-item .pay-wrap-visa{
    padding-left: 190px;
}
.content .pay .pay-item .pay-item-images .pay-btc{
    width:90px;
    height:48px;
    object-fit: contain;
    margin-left: 70px;
    margin-right: 10px;
}
.content .pay .pay-item .pay-item-images .pay-dmck{
   
    vertical-align: top;
    width:90px;
    height:45px;
    object-fit: contain;
   
}
.content .pay .pay-item .pay-wrap-centification{
display:var(--display);
}
.content .pay .pay-item .pay-item-icons{
  
  text-align: center;
    display: var(--display);
    margin-top: 5px;
}

.content .pay .pay-item .pay-item-icons .pay-cover-icon{
     background: #666;
     color:white;
     width: 30px;
     height:30px;
     margin-left: 10px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}
.content .pay .pay-item .pay-item-icons .pay-cover-icon a{
   color:#fff;
   line-height: 30px;
}
.footer{
    width:var(--width);
    height:4%;
   border-top: 1px solid rgb(235, 234, 234);
    padding: 50px;
    text-align: center;
    color:grey;
    font-size: 14px;
}